<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<div class="text-center">
  <%= image_tag flat.owner_picture, class: "img-circle" %>
  <h2><%= flat.owner_name %></h2>
  <h1><%= flat.summary %></h1>
  <p><%= flat.city %></p>
</div>
